/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  margin-left: 5rem;
  padding-top: 1rem;
}

h1 {
  margin: 0;
}

.navbar {
  width: 2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(45, 0, 63);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  width: max-content;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text {
  visibility: hidden;
  opacity: 0;
  color: white;
  transition: opacity 200ms ease, visibility 0s linear 200ms;
}
.link-text:hover {
  color: orange;
}

.navbar:hover {
  width: 8rem;
}

.navbar:hover .link-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 200ms ease, visibility 0s;
}
